asgiref
backports.zoneinfo
coordinates
Django
django-cors-headers
django-environ
djangorestframework
djangorestframework-jwt
djongo
dnspython
mongoengine
numpy
opencv-python
Pillow
PyJWT
pymongo
pytz
sqlparse
torch
typing_extensions
matplotlib
